.contactbgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 400px;
  position: relative;
  padding: 10% 0 10% 0;
  filter: brightness(0.4);
  background-position: center center;
  background-repeat: no-repeat;

  background-image: url("https://abacuscambridge.com/hubfs/Untitled%20design%20%285%29.jpg");
}

.totalContactUsContainer {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #161616;
}

.contactHeading {
  position: absolute;
  width: 100%;
  top: 25%;

  color: #ffffff;
  font-weight: 900;
}

.contact-us-card-description {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #aaaaaa;
}

.contact-us-input {
  background-color: #474747;
  color: #fff;
  border: none;
}

.contact-us-input::placeholder {
  color: #cccaca;
}
